@import "fonts", "hope-ui";


.animate-to-out {
   display: inline-block;
   transition: all .4s ease;
   transform: translateX(-100%) scale(0);
   opacity: 0;
}

:root {
   --page-uncollapsed-header-height: 61px;
   --primary-shadow-color: rgb(var(--bs-body-color-rgb), .3);
   --secondary-shadow-color-1: #00000026;
   --secondary-shadow-color-2: rgb(17 38 146 / 5%);
   
   --secondary-trn: all .4s ease;
}

// layout 
#root {
   display: flex;

   &>* {
      min-height: 100vh;
   }

}

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

ul {
   list-style: none;
}

button {
   cursor: pointer;
   border: 0;
   background-color: initial;
}

.btn {
   transition: color 300ms ease-in-out,
      background-color 300ms ease-in-out,
      border-color 300ms ease-in-out,
      box-shadow 300ms ease-in-out;
}

/* :not(img)::selection {
   background-color: ;
   color: ;
} */

img::selection {
   background-color: transparent;
}

/* make images easier to work with */
img,
picutre {
   max-width: 100%;
   display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
   font: inherit;
}

// focus outline
:is(a, button, input, textarea, summary) {
   --outline-size: max(2px, 0.08em);
   --outline-style: solid;
   --outline-color: var(--bs-dark);
}

:is(a, button, input, textarea, summary):focus {
   outline: var(--outline-size) var(--outline-style) var(--outline-color) !important;
   outline-offset: var(--outline-offset, var(--outline-size)) !important;
}

:is(a, button, input, textarea, summary):focus-visible {
   outline: var(--outline-size) var(--outline-style) var(--outline-color) !important;
   outline-offset: var(--outline-offset, var(--outline-size)) !important;
}

:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
   outline: none !important;
}


/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

   *,
   *::before,
   *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}