.arrow-btn {
   padding: .3rem;
   box-shadow: 0px 2px 4px var(--primary-shadow-color);

   &--float {
      @media (min-width: 1200px) {
         position: absolute;
         right: 0;
         transform: translate(50%);
      }
   }
}

.arrow-icon {
   transition: 0.3s;

   &--left {
      transform: rotate(-180deg);
   }
}